* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.uvod {
    width: 100%;
    height:600px;
    background: url('./pics/Uvod.jpg') fixed;
    background-size: 100% 100%;
}
.uvod h1 {
    text-align: center;
    margin: auto;
    /*color: white;*/
    position: relative;
    /*background-color: black;*/
    padding: 1%;
    width: fit-content;
    top: 40%;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke:1px white;
}
.paragraf_1 {
    background-color: black;
    color: white;
    font-size: 17px;
    padding: 3%;
    text-align: center;
}
.projekti {
    width: 100%;
    height: 600px;
    background: url('./pics/deo2.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
    
}
.projekti h2 {
    text-align: center;
    position: relative;
    margin: auto;
    /*color: white;
    background-color: black;*/
    padding: 1%;
    width: fit-content;
    top: 40%;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke:1px white;
}
.paragraf_2 {
    background-color: black;
    color: white;
    font-size: 17px;
    padding: 3%;
    text-align: center;
       
}
.studije {
    background: url("./pics/DSC_0261-1a.jpg") fixed;
    background-size: 100% 100%;
    height:600px;
    width: 100%;
    
}
.studije h2 {
    text-align: center;
    position: relative;
    margin:auto;
    padding: 1%;
    width: fit-content;
    top: 40%;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke:1px white;
}
.paragraf_3 {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 17px;
    padding: 3%;
}
.mreze {
    padding:5%;
    display: inline-block;
    font-size: 44px;
    animation: float 5s ease-in-out infinite;
}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}

.kontakt {
    margin: auto;
    text-align: center;
    padding: 1%;
    width: 100%;
    top: 40%;
    -webkit-text-stroke: 1px;
    color: black;
}
footer{
    background: url("./pics/ecp-media-banner-world-aspect-ratio-1920x600.jpg") fixed;
    background-size: 100% 100%;
    height: 600px;
}
